nodered/as3935-control-flow.json
[
  {
    "id": "as3935_ctl_flow",
    "type": "tab",
    "label": "AS3935 Tuning",
    "disabled": false,
    "info": "MQTT control + live status panel for the vu2cpl-as3935-bridge ESP32.\n\nPublishes to lightning/as3935/cmd. Subscribes to status/hb/cmd/ack.\n\nDashboard group: Shack Monitoring tools > AS3935 Tuning."
  },
  {
    "id": "as3935_ctl_grp",
    "type": "ui_group",
    "name": "AS3935 Tuning",
    "tab": "bcce4e07ac31b882",
    "order": 30,
    "disp": false,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "as3935_ctl_status_in",
    "type": "mqtt in",
    "z": "as3935_ctl_flow",
    "name": "AS3935 Status",
    "topic": "lightning/as3935/status",
    "qos": "0",
    "datatype": "json",
    "broker": "f4785be9863eab08",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 100,
    "wires": [
      [
        "as3935_ctl_panel"
      ]
    ]
  },
  {
    "id": "as3935_ctl_hb_in",
    "type": "mqtt in",
    "z": "as3935_ctl_flow",
    "name": "AS3935 Heartbeat",
    "topic": "lightning/as3935/hb",
    "qos": "0",
    "datatype": "json",
    "broker": "f4785be9863eab08",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 160,
    "wires": [
      [
        "as3935_ctl_panel"
      ]
    ]
  },
  {
    "id": "as3935_ctl_ack_in",
    "type": "mqtt in",
    "z": "as3935_ctl_flow",
    "name": "AS3935 Cmd Ack",
    "topic": "lightning/as3935/cmd/ack",
    "qos": "0",
    "datatype": "json",
    "broker": "f4785be9863eab08",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 220,
    "wires": [
      [
        "as3935_ctl_panel"
      ]
    ]
  },
  {
    "id": "as3935_ctl_panel",
    "type": "ui_template",
    "z": "as3935_ctl_flow",
    "group": "as3935_ctl_grp",
    "name": "AS3935 Control Panel",
    "order": 1,
    "width": "12",
    "height": "18",
    "format": "<style>\n:root{\n  --bg:#0d1117; --card:#161b22; --border:#21262d;\n  --accent:#238636; --danger:#da3633; --warn:#e3b341;\n  --muted:#8b949e; --text:#c9d1d9;\n  --green:#3fb950; --red:#f85149; --amber:#e3b341;\n  --font:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\n  --mono:ui-monospace,SFMono-Regular,Menlo,Consolas,monospace;\n}\n#a35tune *{box-sizing:border-box;margin:0;padding:0}\n#a35tune{\n  font-family:var(--font); background:var(--bg); color:var(--text);\n  padding:10px; display:flex; flex-direction:column; gap:8px;\n  font-size:13px;\n}\n#a35tune .card{\n  background:var(--card); border:1px solid var(--border);\n  border-radius:8px; padding:10px 14px;\n}\n#a35tune .hdr{display:flex;align-items:center;gap:10px}\n#a35tune .led{\n  display:inline-block; width:12px; height:12px; border-radius:50%;\n  background:var(--muted); box-shadow:0 0 6px currentColor;\n}\n#a35tune .title{font-weight:700; font-size:14px; letter-spacing:.3px}\n#a35tune .meta{color:var(--muted); font-size:11px; margin-left:auto;\n  font-family:var(--mono)}\n#a35tune .counters{\n  font-family:var(--mono); font-size:13px; letter-spacing:.5px;\n}\n#a35tune .calib{color:var(--muted); font-size:11px;\n  font-family:var(--mono)}\n#a35tune .tune{display:flex; flex-direction:column; gap:6px}\n#a35tune .trow{\n  display:flex; align-items:center; gap:8px; font-size:12px;\n}\n#a35tune .lbl{width:100px; color:var(--muted)}\n#a35tune .val{\n  display:inline-block; min-width:34px; text-align:center;\n  background:var(--bg); border:1px solid var(--border);\n  border-radius:4px; padding:2px 8px;\n  font-family:var(--mono); font-weight:700;\n}\n#a35tune .rng{color:var(--muted); font-size:10px; margin-left:auto;\n  font-family:var(--mono)}\n#a35tune button{\n  font-family:var(--font); background:var(--card); color:var(--text);\n  border:1px solid var(--border); border-radius:6px;\n  padding:5px 10px; font-size:12px; cursor:pointer;\n  transition:background 100ms, border-color 100ms;\n}\n#a35tune button:hover{background:#21262d; border-color:#3a414b}\n#a35tune button:active{transform:translateY(1px)}\n#a35tune button:disabled{opacity:.35; cursor:not-allowed}\n#a35tune .trow button{padding:2px 9px; min-width:26px;\n  font-family:var(--mono); font-weight:700; font-size:14px;\n  line-height:1}\n#a35tune select{\n  font-family:var(--font); background:var(--bg); color:var(--text);\n  border:1px solid var(--border); border-radius:4px;\n  padding:3px 6px; font-size:12px;\n}\n#a35tune .actions{display:flex; flex-wrap:wrap; gap:6px}\n#a35tune button.primary{\n  background:var(--accent); border-color:var(--accent);\n  color:white; font-weight:600;\n}\n#a35tune button.primary:hover{background:#2ea043; border-color:#2ea043}\n#a35tune button.warn{\n  background:transparent; border-color:var(--warn); color:var(--warn);\n}\n#a35tune button.warn:hover{background:rgba(227,179,65,.1)}\n#a35tune button.danger{\n  background:transparent; border-color:var(--danger); color:var(--red);\n}\n#a35tune button.danger:hover{background:rgba(218,54,51,.1)}\n#a35tune .ack{\n  font-family:var(--mono); font-size:11px; color:var(--muted);\n}\n#a35tune .ack.ok{color:var(--green)}\n#a35tune .ack.bad{color:var(--red)}\n#a35tune .sect{font-size:10px; color:var(--muted);\n  text-transform:uppercase; letter-spacing:1px; margin-bottom:4px}\n</style>\n<div id=\"a35tune\">\n  <div class=\"card hdr\">\n    <span class=\"led\" id=\"a35led\"></span>\n    <span class=\"title\">AS3935 Bridge</span>\n    <span class=\"meta\" id=\"a35meta\">awaiting status...</span>\n  </div>\n\n  <div class=\"card counters\" id=\"a35counters\">awaiting heartbeat...</div>\n\n  <div class=\"card calib\" id=\"a35calib\">Calib: \u2014</div>\n\n  <div class=\"card tune\">\n    <div class=\"sect\">Tunables</div>\n    <div class=\"trow\"><span class=\"lbl\">NF</span>\n      <span class=\"val\" id=\"a35nf\">\u2014</span>\n      <button onclick=\"a35.nudge('nf',-1,0,7)\">\u2212</button>\n      <button onclick=\"a35.nudge('nf',+1,0,7)\">+</button>\n      <span class=\"rng\">0..7</span></div>\n    <div class=\"trow\"><span class=\"lbl\">WDTH</span>\n      <span class=\"val\" id=\"a35wdth\">\u2014</span>\n      <button onclick=\"a35.nudge('wdth',-1,0,15)\">\u2212</button>\n      <button onclick=\"a35.nudge('wdth',+1,0,15)\">+</button>\n      <span class=\"rng\">0..15</span></div>\n    <div class=\"trow\"><span class=\"lbl\">SREJ</span>\n      <span class=\"val\" id=\"a35srej\">\u2014</span>\n      <button onclick=\"a35.nudge('srej',-1,0,15)\">\u2212</button>\n      <button onclick=\"a35.nudge('srej',+1,0,15)\">+</button>\n      <span class=\"rng\">0..15</span></div>\n    <div class=\"trow\"><span class=\"lbl\">TUN_CAP</span>\n      <span class=\"val\" id=\"a35tuncap\">\u2014</span>\n      <button onclick=\"a35.nudge('tun_cap',-1,0,15)\">\u2212</button>\n      <button onclick=\"a35.nudge('tun_cap',+1,0,15)\">+</button>\n      <span class=\"rng\">0..15</span></div>\n    <div class=\"trow\"><span class=\"lbl\">Mask dist</span>\n      <span class=\"val\" id=\"a35mask\">\u2014</span>\n      <button onclick=\"a35.toggle('mask_dist')\">toggle</button>\n      <span class=\"rng\">on/off</span></div>\n    <div class=\"trow\"><span class=\"lbl\">Min strikes</span>\n      <select id=\"a35mnl\" onchange=\"a35.set('min_num_lightning', parseInt(this.value))\">\n        <option value=\"1\">1</option><option value=\"5\">5</option>\n        <option value=\"9\">9</option><option value=\"16\">16</option>\n      </select>\n      <span class=\"rng\">storm filter</span></div>\n    <div class=\"trow\"><span class=\"lbl\">Modem sleep</span>\n      <select id=\"a35ms\" onchange=\"a35.set('modem_sleep', this.value)\">\n        <option value=\"max\">max</option><option value=\"min\">min</option>\n      </select>\n      <span class=\"rng\">WiFi PS</span></div>\n  </div>\n\n  <div class=\"card actions\">\n    <div class=\"sect\" style=\"width:100%\">Actions</div>\n    <button class=\"primary\" onclick=\"a35.action('calibrate_tun_cap')\">Calibrate TUN_CAP (~35s)</button>\n    <button onclick=\"a35.action('republish_status')\">Republish Status</button>\n    <button class=\"warn\" onclick=\"a35.confirm('Reboot the ESP32?', 'reboot')\">Reboot ESP32</button>\n    <button class=\"danger\" onclick=\"a35.confirm('Erase stored WiFi creds and reboot into setup AP?', 'factory_reset_wifi')\">Factory Reset WiFi</button>\n  </div>\n\n  <div class=\"card ack\" id=\"a35ack\">No commands yet</div>\n</div>\n<script>\n(function(){\n  var scope = this;\n  var state = {};\n  var hb = {counters:{}};\n\n  function $(id){return document.getElementById(id);}\n  function fmtUptime(s){\n    if(s==null) return '?';\n    var h=Math.floor(s/3600), m=Math.floor((s%3600)/60), x=s%60;\n    return (h?h+'h ':'') + (m?m+'m ':'') + x+'s';\n  }\n\n  function render(){\n    var led = $('a35led');\n    if(led){\n      var ok = state.event==='ready'\n        && state.calib_trco==='OK' && state.calib_srco==='OK';\n      var off = state.event==='offline';\n      led.style.background = off ? 'var(--red)'\n        : ok ? 'var(--green)' : 'var(--amber)';\n      led.style.color      = off ? 'var(--red)'\n        : ok ? 'var(--green)' : 'var(--amber)';\n    }\n    var meta = $('a35meta');\n    if(meta){\n      meta.textContent =\n        'FW ' + (state.fw || '\u2014')\n        + ' \u00b7 IP ' + (state.ip || '?')\n        + ' \u00b7 RSSI ' + ((hb.rssi != null ? hb.rssi : state.rssi) || '?') + ' dBm'\n        + ' \u00b7 up ' + fmtUptime(hb.uptime_s);\n    }\n    var c = hb.counters || {};\n    var cn = $('a35counters');\n    if(cn){\n      cn.textContent =\n        '\u26a1 ' + (c.lightning || 0)\n        + '   \u26a0 ' + (c.disturber || 0)\n        + '   \ud83d\udce1 ' + (c.noise || 0)\n        + '   IRQ ' + (c.irq || 0);\n    }\n    var cal = $('a35calib');\n    if(cal){\n      cal.textContent =\n        'Calib: TRCO=' + (state.calib_trco || '?')\n        + ' \u00b7 SRCO=' + (state.calib_srco || '?')\n        + ' \u00b7 afe_gb=' + (state.afe_gb || '?');\n    }\n    if(state.nf      != null && $('a35nf'))     $('a35nf').textContent = state.nf;\n    if(state.wdth    != null && $('a35wdth'))   $('a35wdth').textContent = state.wdth;\n    if(state.srej    != null && $('a35srej'))   $('a35srej').textContent = state.srej;\n    if(state.tun_cap != null && $('a35tuncap')) $('a35tuncap').textContent = state.tun_cap;\n    if(state.mask_dist != null && $('a35mask')){\n      $('a35mask').textContent = state.mask_dist ? 'ON' : 'OFF';\n      $('a35mask').style.color = state.mask_dist ? 'var(--amber)' : 'var(--text)';\n    }\n    if(state.min_num_lightning != null && $('a35mnl'))\n      $('a35mnl').value = String(state.min_num_lightning);\n    if(state.modem_sleep && $('a35ms'))\n      $('a35ms').value = state.modem_sleep;\n  }\n\n  window.a35 = {\n    nudge: function(key, delta, lo, hi){\n      var v = (state[key] == null ? 0 : state[key]) + delta;\n      if(v < lo || v > hi) return;\n      this.set(key, v);\n    },\n    toggle: function(key){ this.set(key, !state[key]); },\n    set: function(key, value){\n      scope.send({ payload: { set: key, value: value } });\n    },\n    action: function(name){\n      scope.send({ payload: { action: name } });\n    },\n    confirm: function(msg, action){\n      if(confirm(msg)) this.action(action);\n    }\n  };\n\n  scope.$watch('msg', function(msg){\n    if(!msg || !msg.topic) return;\n    var p = msg.payload;\n    if(typeof p === 'string'){ try { p = JSON.parse(p); } catch(e){ return; } }\n    if(msg.topic === 'lightning/as3935/status'){ state = p || {}; }\n    else if(msg.topic === 'lightning/as3935/hb'){ hb = p || {counters:{}}; }\n    else if(msg.topic === 'lightning/as3935/cmd/ack' && $('a35ack')){\n      var t = (p && p.ts || '').slice(11);\n      $('a35ack').textContent =\n        (p.ok ? '\u2713 ' : '\u2717 ') + (p.cmd || '?')\n        + (p.error ? ' \u2014 ' + p.error : '') + (t ? '  @ ' + t : '');\n      $('a35ack').className = 'card ack ' + (p.ok ? 'ok' : 'bad');\n    }\n    render();\n  });\n\n  render();\n})();\n</script>\n",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 460,
    "y": 160,
    "wires": [
      [
        "as3935_ctl_cmd_out"
      ]
    ]
  },
  {
    "id": "as3935_ctl_cmd_out",
    "type": "mqtt out",
    "z": "as3935_ctl_flow",
    "name": "AS3935 Cmd",
    "topic": "lightning/as3935/cmd",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "f4785be9863eab08",
    "x": 720,
    "y": 160,
    "wires": []
  }
]